<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gray Matter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
      <div id="preloader">
          <div id="status"></div>
      </div>
    <header>
    </header>
    <main>
      <div class="banner">
          <div class="navmenu">
              <h1><a href="#" class="glow">Shapely Demo</a></h1>
              <div class="bgmenu mobile">
                  <span style="font-size:60px;cursor:pointer" onclick="openNav()">&#9776;</span>
                  <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      <a href="#">HOME</a>
                      <a href="#">BLOG</a>
                      <a href="#">PORTFOLIO</a>
                      <a href="#">ABOUT US</a>
                      <a href="#">LEVEL1</a>
                      <a href="#">SHOP</a>
                  </div>
              </div>
              <nav class="pcmenu pc">
                <ul class="sub0">
                  <li><a href="#">HOME</a></li>
                  <li><a href="#">BLOG</a></li>
                  <li><a href="#">PORTFOLIO</a></li>
                  <li><a href="#">ABOUT US</a></li>
                  <li><a href="#">LEVEL 1</a>
                    <ul class="sub1">
                      <li><a href="#">Level 2a</a></li>
                      <li><a href="#">Level 2b ></a>
                        <ul class="sub2">
                            <li><a href="#">Level 3a</a></li>
                            <li><a href="#">Level 3b</a></li>
                            <li><a href="#">Level 3c</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">SHOP</a></li>
                  <!-- <li><a href="#"><img src="" alt="search logo"></a></li> -->
                </ul>
              </nav>
          </div>
          <div class="bannercap">
              <h2>We Change Everything Wordpress</h2>
              <p>This is the only WordPress theme you will ever want to use.  </p>
            </div>
            <div class="bannerbtn">
              <ul class="btns">
                <li><a href="#" type="button" class="btn1">DOWNLOAD NOW</a></li>
                <li><a href="#" type="button" class="btn2">READ MORE</a></li>
              </ul>
            </div>
      </div>

      <div class="descp1 padding">
        <img src="image/lap2.png" alt="laptop1">
        <div class="descp">
          <h2>SEO Friendly</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam pulvinar luctus sem, eget porta orci. Maecenas molestie 
            dui id diam feugiat, eu tincidunt mauris aliquam. Duis 
            commodo vitae ligula et interdum. Maecenas faucibus mattis 
            imperdiet. In rhoncus ac ligula id ultricies.
          </p>
          <a href="#" type="button" class="btn2">READ MORE</a>
        </div>
      </div>
      <div class="descp2 padding">
        <img src="image/lap1.png" alt="laptop2">
        <div class="descp">
          <h2>Portfolio Section</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam pulvinar luctus sem, eget porta orci. Maecenas molestie 
            dui id diam feugiat, eu tincidunt mauris aliquam. Duis 
            commodo vitae ligula et interdum. Maecenas faucibus mattis 
            imperdiet. In rhoncus ac ligula id ultricies.
          </p>
          <a href="#" type="button" class="btn2">SEE IT IN ACTION</a>
        </div>
      </div>

      <div class="parallax1 padding parallax-window" data-parallax="scroll" data-image-src="image/scene3.jpg">
        <h2>Small Parallax Section</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Vivamus imperdiet rhoncus porta. Ut quis sem quis purus lobortis 
           dictum. Aliquam nec dignissim nisl. Vivamus cursus feugiat sapien,
            eget tincidunt leo ornare quis.
        </p>
        <a href="#" type="button" class="btn2">MORE INFO</a>
      </div>

      <div class="limitless padding">
        <div class="limitlessdescp">
          <h2>Limitless Options</h2>
          <p>Phasellus sed nisi ac dui interdum semper. Etiam consequat fermentum 
            sollicitudin. Fusce vulputate porta faucibus. Vivamus nulla tellus, 
            accumsan non efficitur id, pretium quis ante.
          </p>
          <a href="#" type="button" class="btn2">DOWNLOAD NOW</a>
        </div>
        <div class="limitlessimg parallax-window" data-parallax="scroll" data-image-src="image/scene1.jpg" >
          <img src="image/scene1.jpg" alt="scene1">
        </div>
      </div>
      <div class="projects">
          <div class="measure padding">
              <div class="projdescp">
                <h2>Our Latest Projects</h2>
                <p>Here's Our Latest Projects. You'll Love Them</p>
              </div>
              <div class="projimg">
                <a href="#" class="hovertext" title="Project1"><img src="image/pr1.jpg" alt="pr1"></a><a href="#" class="hovertext" title="Project2"><img src="image/pr2.jpg" alt="pr1"></a><a href="#" class="hovertext" title="Project3"><img src="image/pr3.jpg" alt="pr1"></a><a href="#" class="hovertext" title="Project4"><img src="image/pr7.jpg" alt="pr1"></a>
                <a href="#" class="hovertext" title="Project5"><img src="image/pr7.jpg" alt="pr7"></a><a href="#" class="hovertext" title="Project6"><img src="image/pr3.jpg" alt="pr1"></a><a href="#" class="hovertext" title="Project7"><img src="image/pr2.jpg" alt="pr1"></a><a href="#" class="hovertext" title="Project8"><img src="image/pr1.jpg" alt="pr1"></a>
                <a href="#" class="hovertext" title="Project9"><img src="image/pr9.jpg" alt="pr9"></a><a href="#" class="hovertext" title="Project10"><img src="image/pr1.jpg" alt="pr1"></a><a href="#" class="hovertext" title="Project11"><img src="image/pr7.jpg" alt="pr1"></a><a href="#" class="hovertext" title="Project12"><img src="image/pr3.jpg" alt="pr1"></a>
              </div>
            </div>
      </div>
      <div class="feedback padding parallax-window" data-parallax="scroll" data-image-src="image/scene2.jpg">
        <h2>What Our Customers Say</h2>
        <p>"Nunc sit amet lobortis nulla. Nunc ullamcorper, mi id luctus dictum, 
          augue tortor dictum ipsum, nec congue arcu lorem in nisl. Duis neque 
          lacus, viverra non mauris ac, pharetra rhoncus libero. Aliquam varius 
          viverra ex, in venenatis magna ornare sit amet. Integer varius sit amet 
          turpis eu ullamcorper."
        </p>
        <br>
        <div class="feedback1">
          <div class="shape1">
              <img src="image/cust1.jpg" height="150" alt="cust1">
          </div>
          <h3>John Doe</h3>
        </div>
      </div>

      <div class="clients padding">
        <h2>Our Main Clients</h2>
        <a href="#"><i class="fab fa-java"></i></a>
        <a href="#"><i class="fab fa-js"></i></a>
        <a href="#"><i class="fab fa-html5"></i></a>
        <a href="#"><i class="fab fa-css3-alt"></i></a>

      </div>
    </main>
    <footer>
      <div class="measure">
          <h3>Theme by CK Powered by Colorlib</h3>
          <div class="connect padding">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
      </div>
    </footer>
    <!-- Java Script -->
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <!-- Parallax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="Para/parallax.js"></script>
    <script>
        $(window).on('load', function() { // makes sure the whole site is loaded
        $('#status').fadeOut(); // will first fade out the loading animation
        $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(350).css({'overflow':'visible'});
        })
    </script>
  </body>
</html>
